In [27]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [6]:
data = pd.read_csv('data/preprocessedDREAMER.csv')
labels = pd.read_csv('data/DREAMER_emotLabels.csv')

# Fixing Data

In [7]:
data.head()

,P1V1,P1V3,P1V4,P1V6,P1V7,P1V8,P1V9,P1V12,P1V13,P1V14,...,P23V7,P23V8,P23V9,P23V12,P23V13,P23V14,P23V15,P23V16,P23V17,P23V18
0,80.714661,76.768877,73.268849,73.162212,72.619208,73.512364,74.482759,75.008139,76.328559,71.092304,...,49.112710,55.667114,54.275618,64.782792,69.432446,68.724832,79.425452,67.368421,115.488722,87.771429
1,80.700525,76.862321,72.550607,72.579992,72.296934,73.424512,74.352562,74.651254,76.373209,71.092304,...,49.093088,55.443565,53.851133,64.846608,72.282353,68.024801,78.253275,67.037643,115.488722,80.418848
2,80.526953,76.883117,72.258065,72.355316,72.016075,73.252487,74.133262,74.053837,76.657636,70.956522,...,48.876591,55.114546,53.490490,65.352731,71.366420,64.257825,77.631769,67.629447,115.488722,80.418848
3,80.375688,76.748143,71.498870,72.277494,71.785285,73.103073,74.043921,73.796877,76.935769,70.841020,...,48.474204,55.008264,53.347582,65.254214,69.427464,65.094257,76.619718,67.037643,79.175258,110.503597
4,79.712575,76.325544,71.082904,72.433849,71.539726,72.885033,73.583356,73.583356,77.463977,70.802603,...,48.242524,54.834546,53.219616,64.810127,68.281840,64.828991,75.793369,66.107784,78.971722,NaN

In [8]:
labels.head()

,P1V1,P1V3,P1V4,P1V6,P1V7,P1V8,P1V9,P1V12,P1V13,P1V14,...,P23V7,P23V8,P23V9,P23V12,P23V13,P23V14,P23V15,P23V16,P23V17,P23V18
0,4.0,5.0,4.0,1.0,5.0,1.0,1.0,4.0,4.0,3.0,...,4.0,1.0,2.0,4.0,4.0,2.0,2.0,3.0,2.0,2.0
1,3.0,4.0,3.0,2.0,4.0,2.0,2.0,3.0,3.0,1.0,...,2.0,5.0,2.0,2.0,3.0,2.0,2.0,3.0,2.0,4.0
2,2.0,4.0,2.0,5.0,4.0,4.0,3.0,4.0,2.0,2.0,...,1.0,5.0,2.0,2.0,3.0,2.0,2.0,2.0,4.0,2.0

In [24]:
stressLabel = []
for col in labels:
    if labels[col].values[1] <= 2.5 and labels[col].values[0] <= 2.5:
        stressLabel.append(1)
    else:
        stressLabel.append(0)

In [25]:
stressLabel.count(1)

31

In [ ]:
colLen = 364
for col in data:
    tempData = data[col].dropna()
    while len(tempData) < colLen:
        tempData.append(tempData)
    tempData = tempData[0:colLen]
    
    data[col] = pd.Series({col : tempData})

In [ ]:
data.head()

In [ ]:
data.to_csv('data/DREAMER_HR_stretched.csv')